<mat-grid-list cols = "5" id={{id}} class = "row">
  <mat-grid-tile>
    {{ id }}
  </mat-grid-tile>
  <mat-grid-tile>
    {{ title }}
  </mat-grid-tile>
  <mat-grid-tile>
    {{ studio }}
  </mat-grid-tile>
  <mat-grid-tile>
    {{ income }}
  </mat-grid-tile>
  <mat-grid-tile>
    <button (click) = "deleteRow()">
      Delete Movie
    </button>
  </mat-grid-tile>
</mat-grid-list>